@import url("./inter.css");

.form {
    background: #fff;
    border-radius: 20px;
    &__label {
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        margin-left: 24px;
        margin-bottom: 4px;
        text-align: left;
        display: block;
    }
    .error--text {
        .v-input__slot {
            background: #ffe0e6 !important;
        }
    }
    .password {
        .v-icon {
            color: #181C43 !important;
        }
    }
    .v-input__slot {
        background: #F3F3FA !important;
    }
}