@import url("./inter.css");

.form {
    background: #fff;
    border-radius: 20px;
    &__label {
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        margin-left: 24px;
        margin-bottom: 4px;
        text-align: left;
        display: block;
    }
    &__tooltip {
        justify-content: right;
        i {
            line-height: 20px !important;
            margin-bottom: 4px;
        }
        &__text {
            text-align: center;
            width: 220px;
            right: 20px !important;
            left: auto !important;
            &:after {
                border: medium solid transparent;
                content: "";
                top: 100%;
                right: 33px;
                position: absolute;
                height: 0;
                width: 0;
                border-color: $tooltip-background-color rgba(255, 212, 52, 0)
                  rgba(255, 212, 52, 0);
                border-width: 8px;
                margin-left: -8px;
              }
        }
    }

    .error--text {
        .v-input__slot {
            background: #ffe0e6 !important;
        }
    }
    .password {
        .v-icon {
            color: #181C43 !important;
        }
        input[type="password"] {
            font-size: 10px;
        }
    }
    .v-input__slot {
        background: #F3F3FA !important;
    }
}

.form-alert-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px;
    width: 100%;
    .v-alert {
      background-color: #ff6683;
      border-radius: 50px;
      color: #fff;
      width: 100%;
      .v-icon {
        cursor: pointer;
      }
    }
  }