/* vuetify variables */
$body-font-family: "Inter" !default;

$text-field-filled-full-width-outlined-slot-min-height: 46px !default;
$text-field-dense-label-top: 12px !default;
$text-field-enclosed-prepend-append-margin-top: 12px !default;

$tooltip-text-color: #FFF !default;
$tooltip-font-size: 10px !default;
$tooltip-background-color: #1E1A3E !default;

/* other variables */
$main-bg-color: #faf3f3;
$main-width: 480px;